<h1>Calculator</h1>

<%= form_with url: calculator_calculate_path(), method: :post, authenticity_token: false do |form| %>
  <%= form.label :x, "X:" %>
  <%= form.text_field :x %>
  <%= form.label :y, "Y:" %>
  <%= form.text_field :y %>
  <%= form.label :operation, "Operation:" %>
  <%= form.select :operation, [['Add', '+'],['Subtract', '-'],['Multiply', '*'],['Divide', '/']] %>
  <%= form.submit "Calculate" %>
<% end %>

<% if @result %>
  Operation: <%= @x %> <%= @operation %> <%= @y %><br/>
  Result: <span id="calculator-result"><%= @result %></span>
<% end %>
